{% extends "base.html" %}
{% load static %}

{% block title %}History{% endblock %}

{% block content %}

<div class="container mt-4">

    <h3 class="text-center mb-4">
        <i class="fa-solid fa-clock-rotate-left"></i>
        Prediction History
    </h3>

    <p class="text-center text-muted">
        Total Predictions: {{ predictions|length }}
    </p>

    <div class="table-responsive">

        <table class="table table-bordered table-hover shadow-sm">

            <thead class="table-success text-center">
                <tr>
                    <th>Date</th>
                    <th>Crop</th>
                    <th>N</th>
                    <th>P</th>
                    <th>K</th>
                    <th>Temp (°C)</th>
                    <th>Humidity (%)</th>
                    <th>pH</th>
                    <th>Rainfall (mm)</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>

                {% for p in predictions %}

                <tr class="text-center align-middle">

                    <td>{{ p.created_at|date:"d M Y, H:i" }}</td>

                    <td class="fw-bold text-success">
                        {{ p.predicted_label }}
                    </td>

                    <td>{{ p.N }}</td>
                    <td>{{ p.P }}</td>
                    <td>{{ p.K }}</td>
                    <td>{{ p.temperature }}</td>
                    <td>{{ p.humidity }}</td>
                    <td>{{ p.ph }}</td>
                    <td>{{ p.rainfall }}</td>

                    <td>

                        <form method="POST"
                              action="{% url 'user_delete_predictions' p.id %}"
                              onsubmit="return confirm('Delete this record?')">

                            {% csrf_token %}

                            <button type="submit"
                                    class="btn btn-danger btn-sm">
                                <i class="fa-solid fa-trash"></i>
                            </button>

                        </form>

                    </td>

                </tr>

                {% empty %}

                <tr>
                    <td colspan="10"
                        class="text-center text-muted py-4">

                        No predictions found.
                        <br>

                        <a href="{% url 'predict' %}"
                           class="btn btn-success btn-sm mt-2">

                           Make Your First Prediction

                        </a>

                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

<br><br><br>


    <footer class="bg-success text-white py-2 p">
        <div class="container text-center small">
            All Rights Reserved © 2026 Smart Crop Recommendation
        </div>
    </footer>


{% endblock %}